<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <queries>
        <package android:name="com.google.android.apps.maps" />
    </queries>

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.hardware.camera.flash" />
    <uses-feature android:name="android.hardware.location.gps" />
    <uses-sdk tools:overrideLibrary="com.google.zxing.client.android" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <application
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:name=".SidikApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="AllowBackup,UnusedAttribute"
        tools:targetApi="31" >

        <activity android:name=".home.sklb.print.hitungscore.ScoringActivity" />
        <activity android:name=".home.sklb.setting.kuantitatif.TtdActivity" />
        <activity
            android:name=".home.sklb.setting.kuantitatif.EditKuantitatifActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity android:name=".home.sklb.print.CetakSertifikatActivity" />
        <activity android:name=".home.sklb.print.SertifikatGeneratorActivity" />
        <activity
            android:name=".home.sklb.print.LihatSertifikatActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_lihat_sertifikat"
            android:theme="@style/AppTheme.Fullscreen" />
        <activity android:name=".home.sklb.dataternak.detail.DetailActivity" />
        <activity android:name=".home.sklb.petugas.pemilikternak.TambahPemilikTernakActivity" />
        <activity android:name=".home.sklb.petugas.pemilikternak.PemilikTernakListActivity" />
        <activity android:name=".home.ppob.SaldoActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyC0fKO8QS1tewCDN2yr-aDGL2z6hqIkFr4" />
        <!--
        <activity
            android:name=".splash.SplashActivity"
            android:configChanges="keyboard|keyboardHidden"
            android:theme="@style/AppTheme.PrimaryColoredBackground"
            android:windowSoftInputMode="stateHidden|adjustUnspecified">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        -->
        <activity
            android:name=".login.LoginActivity"
            android:configChanges="keyboard|keyboardHidden"
            android:theme="@style/AppTheme.PrimaryColoredBackground"
            android:windowSoftInputMode="stateHidden|adjustUnspecified" />
        <activity
            android:name=".MainActivity"
            android:configChanges="keyboard|keyboardHidden"
            android:label="@string/member_area"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.LogoBackground"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".home.dataternak.detailternak.datarecording.TambahRecordingActivity"
            android:configChanges="keyboard|keyboardHidden"
            android:label="Tambah Recording Ternak"
            android:windowSoftInputMode="stateHidden|adjustUnspecified" />
        <activity
            android:name=".login.RegisterActivity"
            android:configChanges="keyboard|keyboardHidden"
            android:label="@string/registration"
            android:theme="@style/AppTheme.PrimaryColoredBackground"
            android:windowSoftInputMode="stateHidden|adjustUnspecified" />
        <activity
            android:name=".home.kelompokternak.KelompokTernakActivity"
            android:configChanges="keyboard|keyboardHidden"
            android:label="@string/kelompok_ternak" />
        <activity
            android:name=".home.koordinator.KoordinatorActivity"
            android:configChanges="keyboard|keyboardHidden"
            android:label="@string/koordinator" />
        <activity
            android:name=".home.datapeternak.DataPeternakActivity"
            android:configChanges="keyboard|keyboardHidden" />
        <activity
            android:name=".home.dataternak.dibawahnya.DataTernakDibawahnyaActivity"
            android:configChanges="keyboard|keyboardHidden" />
        <activity
            android:name=".home.dataternak.DataTernakActivity"
            android:configChanges="keyboard|keyboardHidden" />
        <activity
            android:name=".DataRecordingTernakActivity"
            android:configChanges="keyboard|keyboardHidden" />
        <activity
            android:name=".roodiskusi.RoomDiskusiActivity"
            android:configChanges="keyboard|keyboardHidden" />
        <activity
            android:name=".home.newsinfo.NewsInfoActivity"
            android:configChanges="keyboard|keyboardHidden"
            android:label="Berita dan Informasi" />
        <activity
            android:name=".home.kelompokternak.TambahKelompokTernakActivity"
            android:configChanges="keyboard|keyboardHidden"
            android:label="@string/tambah_kelompok_ternak"
            android:windowSoftInputMode="stateHidden|adjustUnspecified" />
        <activity
            android:name=".login.KonfirmasiPendaftaranActivity"
            android:configChanges="keyboard|keyboardHidden"
            android:label="Pendaftaran"
            android:windowSoftInputMode="stateHidden|adjustUnspecified" />
        <activity
            android:name=".login.DaftarStep3Activity"
            android:configChanges="keyboard|keyboardHidden"
            android:label="Pendaftaran"
            android:windowSoftInputMode="stateHidden|adjustUnspecified" />
        <activity
            android:name=".home.tambahpeternak.TambahPeternakActivity"
            android:configChanges="keyboard|keyboardHidden"
            android:label="@string/tambah_peternak"
            android:windowSoftInputMode="stateHidden|adjustUnspecified" />
        <activity
            android:name=".SelectRegionActivity"
            android:configChanges="keyboard|keyboardHidden"
            android:label="@string/select_provinsi"
            android:windowSoftInputMode="stateHidden|adjustUnspecified" />
        <activity
            android:name=".home.dataternak.dibawahnya.TambahDataTernakActivity"
            android:configChanges="keyboard|keyboardHidden"
            android:label="@string/tambah_data_ternak"
            android:windowSoftInputMode="stateHidden|adjustUnspecified" />
        <activity
            android:name=".login.ForgotPasswordActivity"
            android:configChanges="keyboard|keyboardHidden"
            android:label="@string/reset_password"
            android:theme="@style/AppTheme.PrimaryColoredBackground"
            android:windowSoftInputMode="stateHidden|adjustUnspecified" />
        <activity
            android:name=".home.dataternak.rangking.RangkingActivity"
            android:configChanges="keyboard|keyboardHidden"
            android:label="Rangking Ternak" />
        <activity
            android:name=".home.dataternak.detailternak.DetailTernakActivity"
            android:configChanges="keyboard|keyboardHidden"
            android:label="Detail Ternak" />
        <activity
            android:name=".profilku.EditProfileActivity"
            android:label="@string/title_activity_edit_profile"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppThemeLight">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".home.dataternak.detailternak.foto.UploadFotoActivity"
            android:configChanges="keyboard|keyboardHidden" />
        <activity
            android:name=".home.dataternak.detailternak.foto.BukaFotoActivity"
            android:configChanges="keyboard|keyboardHidden" />
        <activity android:name=".sapiku.PengaturanSapikuActivity" />
        <activity
            android:name=".home.newsinfo.bukaberita.BukaBeritaActivity"
            android:label="Berita dan Info" />
        <activity
            android:name=".home.newsinfo.bukaberita.komentar.KomentarActivity"
            android:label="Komentar"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".home.ppob.PPOBActivity"
            android:label="PPOB" />
        <activity
            android:name=".home.ppob.isipulsa.IsiPulsaActivity"
            android:configChanges="keyboard|keyboardHidden"
            android:label="Pengisian Pulsa"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".home.ppob.internet.PaketInternetActivity"
            android:configChanges="keyboard|keyboardHidden"
            android:label="Paket Internet"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".home.ppob.tokenpln.TokenPlnActivity"
            android:configChanges="keyboard|keyboardHidden"
            android:label="Token PLN"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".home.ppob.bayartagihan.BayarTagihanActivity"
            android:configChanges="keyboard|keyboardHidden"
            android:label="Bayar Tagihan"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".home.ppob.game.VoucherGameActivity"
            android:configChanges="keyboard|keyboardHidden"
            android:label="Voucher Game"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".home.ppob.berita.BeritaActivity"
            android:configChanges="keyboard|keyboardHidden"
            android:label="Berita dan Informasi"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".home.ppob.komisi.KoperasiActivity"
            android:configChanges="keyboard|keyboardHidden"
            android:label="Koperasi"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".home.ppob.downline.DownlineActivity"
            android:configChanges="keyboard|keyboardHidden"
            android:label="Downline"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".home.ppob.settings.SettingsActivity"
            android:configChanges="keyboard|keyboardHidden"
            android:label="Settings"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".home.ppob.transfersaldo.TransferSaldoActivity"
            android:configChanges="keyboard|keyboardHidden"
            android:label="Transfer Saldo"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".home.ppob.tambahsaldo.TambahSaldoActivity"
            android:configChanges="keyboard|keyboardHidden"
            android:label="Tambah Saldo"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".home.ppob.history.pulsa.DetailTrxPulsaActivity"
            android:configChanges="keyboard|keyboardHidden"
            android:label="Detail Trx Pulsa"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".home.ppob.history.tagihan.DetailTagihanActivity"
            android:configChanges="keyboard|keyboardHidden"
            android:label="Detail Tagihan"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".home.ppob.history.HistoryActivity"
            android:configChanges="keyboard|keyboardHidden"
            android:label="History"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".home.dataternak.detailternak.UpdateStatusTernakActivity"
            android:configChanges="keyboard|keyboardHidden"
            android:label="Update Status Ternak"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".IdCardPrintActivity"
            android:label="Print ID-Card" />
        <activity
            android:name=".home.newsinfo.gallery.GalleryActivity"
            android:label="Galeri Foto" />
        <activity
            android:name=".home.newsinfo.video.VideoActivity"
            android:label="Video"
            android:theme="@style/AppThemeLight" />
        <activity
            android:name=".home.newsinfo.gallery.bukaalbum.BukaAlbumActivity"
            android:label="Album" />
        <activity
            android:name=".home.dataternak.detailternak.PrintTernakIdCardActivity"
            android:label="Print Preview" />
        <activity
            android:name=".home.ppob.merchants.MerchantListActivity"
            android:label="Iklan" />
        <activity
            android:name=".home.ppob.iklanmerchant.iklanumum.IklanUmumKomentarActivity"
            android:label="Komentar" />
        <activity
            android:name=".home.ppob.iklanmerchant.iklanumum.TambahIklanActivity"
            android:label="Tambah Iklan" />
        <activity
            android:name=".home.ppob.iklanmerchant.iklanumum.TrxMerchantActivity"
            android:label="Tranksaksi" />
        <activity
            android:name=".home.ppob.iklanmerchant.IklanMerchantActivity"
            android:label="Iklan" />
        <activity
            android:name=".home.dataternak.insiminator.TernakIbListActivity"
            android:label="Ternak IB" />
        <activity
            android:name=".home.dataternak.insiminator.detailternak.DetailTernakIbActivity"
            android:label="Detail Ternak IB" />
        <activity
            android:name=".home.dataternak.insiminator.TambahTernakIbActivity"
            android:label="@string/tambah_ternak_ib"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".roodiskusi.creategroup.CreateGroupActivity"
            android:label="@string/pilih_user"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".roodiskusi.group.OpenGroupActivity"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity android:name=".roodiskusi.group.info.GroupInfoActivity" />
        <activity android:name=".home.sklb.SklbActivity" />
        <activity android:name=".home.sklb.petugas.tambah.TambahPetugasActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <!--
        <service android:name=".roodiskusi.fcm.MyFirebaseMessagingService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        -->

        <activity
            android:name=".cutout.CutOutActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />

    </application>

</manifest>